<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layoutTemplates/layout">
<head>
    <meta charset="UTF-8">
    <title>Modifier le projet</title>
</head>
<body>
<div layout:fragment="myContent">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Promanager</a></li>
            <li class="breadcrumb-item"><a th:href="@{/projets}">Projets</a></li>
            <li class="breadcrumb-item"><a th:href="@{/viewProject(projectId=${editProjectDTO.id},email=${#authentication.name})}"
                                           th:text="${editProjectDTO.title}"></a></li>
            <li class="breadcrumb-item active" aria-current="page">Mise à jour</li>
        </ol>
    </nav>
    <div>
        <div class="container d-flex flex-column my-3">
            <div class="card shadow rounded-3 border border-warning">
                <div class="card-header p-3 h4">
                    Mise à Jour
                </div>
                <div class="card-body p-4">
                    <form class="row" th:action="@{/miseAJourProjet}" th:method="post">
                        <input type="hidden" th:value="${editProjectDTO.id}" name="id"/>

                        <div class="form-group col-lg-3">
                            <label class="form-control-label" for="form-group-input1">Nom</label>
                            <input type="text" class="form-control" id="form-group-input1" name="title"
                                   th:value="${editProjectDTO.title}">
                            <span class="text-danger" th:errors="${editProjectDTO.title}"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="form-control-label" for="startDate">Date de début</label>
                            <input type="datetime-local" class="form-control" id="startDate" name="startDate"
                                   th:value="${editProjectDTO.startDate}">
                            <span class="text-danger" th:errors="${editProjectDTO.startDate}"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="form-control-label" for="endDate">Date de fin</label>
                            <input type="datetime-local" class="form-control" id="endDate" name="endDate"
                                   th:value="${editProjectDTO.endDate}">
                            <span class="text-danger" th:errors="${editProjectDTO.endDate}"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="form-control-label" for="specificNote">Note spécifique</label>
                            <input type="text" class="form-control" id="specificNote" name="specificNote"
                                   th:value="${editProjectDTO.specificNote}">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="statut" class="form-label">Statut:</label>
                            <select th:value="${editProjectDTO.statut}" class="form-select" id="statut" name="statut">
                                <option value="ATTENTE" th:selected="${editProjectDTO.statut == 'ATTENTE'}">ATTENTE
                                </option>
                                <option value="EN_COURS" th:selected="${editProjectDTO.statut == 'EN_COURS'}">EN COURS
                                </option>
                                <option value="TERMINE" th:selected="${editProjectDTO.statut == 'TERMINE'}">TERMINE
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="form-control-label" for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="6"
                                      th:field="${editProjectDTO.description}"></textarea>
                            <span class="text-danger" th:errors="${editProjectDTO.description}"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <button class="btn btn-warning float-end m-2" title="Ajouter"><i
                                    class="bi bi-floppy"></i> Enregistrer
                            </button>
                            <a class="btn btn-outline-danger float-end m-2"
                               th:href="@{/viewProject(projectId=${editProjectDTO.id})}" title="Annuler l'action">
                                <i class="bi bi-x-square"></i>Annuler
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>