<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layoutTemplates/layout">
<head>
    <meta charset="UTF-8">
    <title>Activer le compte</title>
</head>
<body>
<div layout:fragment="myContent">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Promanager</a></li>
            <li class="breadcrumb-item"><a th:href="@{/employes}">Employés</a></li>
            <li class="breadcrumb-item active" aria-current="page">Activation de compte</li>
        </ol>
    </nav>
    <div class="col-md-6 offset-3 mt-5 border border-info-subtle card p-3 rounded">
        <form th:action="@{/employeeAccountActivate}" th:method="post">
            <div class="modal-header mb-3">
                <div>
                    <h5 class="modal-title" id="staticBackdropLabel1">Activation de compte </h5>
                    <small><span th:text="${firstname}" class="m-1"></span><span th:text="${name}"></span> &gt; <span
                            th:text="${email}"></span> </small>
                </div>
            </div>
            <input type="hidden" th:value="${email}" name="email">
            <input type="hidden" th:value="${keyword}" name="keyword">
            <input type="hidden" th:value="${currentPage}" name="page">
            <input type="hidden" th:value="${name}" name="name">
            <input type="hidden" th:value="${firstname}" name="firstname">
            <div class="modal-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="USER" name="roles">
                    <label class="form-check-label" for="inlineCheckbox1">Utilisateur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="MANAGER" name="roles">
                    <label class="form-check-label" for="inlineCheckbox2">Manager</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="ADMIN" name="roles">
                    <label class="form-check-label" for="inlineCheckbox3">Administrateur</label>
                </div>
            </div>
            <span class="text-danger" th:errors="${accountActivationDTO.roles}"></span>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary m-1" th:href="@{/employes}">Annuler</a>
                <button type="submit" class="btn btn-primary  m-1">Activer</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>