<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layoutTemplates/layout">
<head>
    <meta charset="UTF-8">
    <title>List des employés</title>
</head>
<body>
<div layout:fragment="myContent">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Promanager</a></li>
            <li class="breadcrumb-item active" aria-current="page">Employés</li>
        </ol>
    </nav>
    <div class="mt-5">
        <div class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <h3>List des collaborateurs</h3>
                <form class="d-inline-flex" th:action="@{/employes}">
                    <input class="form-control me-2" type="search" placeholder="chercher par nom,prénom, spécialité"
                           aria-label="Search" name="keyword" th:value="${currentKeyword}">
                    <button class="btn btn-outline-primary" type="submit">chercher</button>
                </form>
                <div class="d-flex">
                    <a class="btn btn-outline-success" th:href="@{/newEmployeeForm}"><i class="bi bi-plus-lg"></i>Nouveau
                        collaborateur</a>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom & Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Spécialité</th>
                <th scope="col">Adresse</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Etat compte</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee:${employeeListPage}">
                <td>
                    <span th:if="${#authentication.principal.username == employee.email}"><a
                            th:href="@{/viewEmployee(employeeId=${employee.email})}">Vous</a></span>
                    <span th:unless="${#authentication.principal.username == employee.email}">
                        <a th:href="@{/viewEmployee(employeeId=${employee.email})}"
                           th:text="${employee.firstname}"></a><a
                            th:href="@{/viewEmployee(employeeId=${employee.email})}"
                            th:text="${employee.name}"></a>
                    </span>
                </td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.jobTitle}"></td>
                <td th:text="${employee.address}"></td>
                <td th:text="${employee.telephone}"></td>
                <td><span th:if="${employee.accountEnabled == true}">ACTIF</span> <span
                        th:if="${employee.accountEnabled == false}">INACTIF</span></td>
                <td>
                    <span th:if="${#authentication.principal.username == employee.email}">
                        <a class="btn btn-success disabled" th:if="${employee.accountEnabled == false}"
                           th:href="@{/getActivateAccountForm(email=${employee.email},keyword=${keyword},page=${currentPage})}">Activer</a>
                    <a class="btn btn-danger disabled"
                       th:href="@{/employeeAccountDisactivate(email=${employee.email},keyword=${keyword},page=${currentPage})}"
                       th:if="${employee.accountEnabled == true}"
                       onclick="javascript:return confirm('Ce compte va être désactivé?')">Désactiver</a>
                    </span>
                    <span th:unless="${#authentication.principal.username == employee.email}">
                         <a class="btn btn-success" th:if="${employee.accountEnabled == false}"
                            th:href="@{/getActivateAccountForm(email=${employee.email},keyword=${keyword},page=${currentPage},
                            name=${employee.name},firstname=${employee.firstname})}">Activer</a>
                    <a class="btn btn-danger"
                       th:href="@{/employeeAccountDisactivate(email=${employee.email},keyword=${keyword},page=${currentPage})}"
                       th:if="${employee.accountEnabled == true}"
                       onclick="javascript:return confirm('Ce compte va être désactivé?')">Désactiver</a>
                    </span>

                </td>
            </tr>
            </tbody>
        </table>

        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:href="@{/employes(keyword=${currentKeyword}, page=${status.index})}"
                   th:class="${(currentPage == status.index)?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                   th:text="${1+status.index}"></a>
            </li>
        </ul>


    </div>
</div>

</body>
</html>